#experiences {
  display: flex;
  place-content: center;

  width: 100%;
  padding: 0 var(--size-xl);

  > .experiences-wrapper {
    display: flex;
    flex-flow: column;
    place-items: center;
    gap: var(--size-lmd);

    width: var(--body-wrapper);
    padding: var(--size-xl) 0;

    > h2 {
      font-size: var(--size-lg);
    }

    > p {
      font-size: var(--size-md);
      line-height: var(--line-height-lg);
      white-space: pre-wrap;
    }
  }
}
