#home-page {
  display: flex;
  place-content: center;
  place-items: center;

  min-height: 100vh;

  background-color: var(--bg-color);

  color: var(--font-color);

  transition: background-color 0.3s, color 0.3s;

  > p {
    font-size: var(--size-md);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family);
  }

  > button {
    font-size: var(--size-md);
  }
}
