#about {
  display: flex;
  place-content: center;

  width: 100%;

  background-color: var(--color-primary);

  color: var(--color-light);

  > .about-wrapper {
    display: flex;
    flex-flow: column;
    place-items: center;
    gap: var(--size-lmd);

    width: var(--body-wrapper);
    padding: 0 var(--size-xl) var(--size-xl);

    > p {
      font-size: var(--size-md);
      line-height: var(--line-height-lg);
      white-space: pre-wrap;
    }
  }
}
