:root {
  --color-primary: #3d2bb3;
  --color-secondary: #209da3;
  --color-tertiary: #fd49a0;

  --size-xs: 4px;
  --size-sm: 8px;
  --size-smd: 12px;
  --size-md: 16px;
  --size-lmd: 24px;
  --size-lg: 36px;
  --size-xl: 48px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-family: 'Inter', sans-serif;

  --line-height-single: 1;
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 1.8;
  --line-height-double: 2;
}
